In [1]:
import numpy as np
import pandas as pd

# Tạo df

In [2]:
df = pd.DataFrame([1,2,3,4])
df

   0
0  1
1  2
2  3
3  4

In [3]:
lst = [[1,2,3],[4,5,np.nan]]
df1 = pd.DataFrame(lst,index=['a','b'],columns=['A','B','C'])
df1

   A  B    C
a  1  2  3.0
b  4  5  NaN

In [4]:
dic = {'name':['an','binh','tuan'],
      'age':[18,19,20]}
df = pd.DataFrame(dic,columns=['name'])
df

   name
0    an
1  binh
2  tuan

# Đọc tập tin dataset (.csv, .xlsx)

In [4]:
df = pd.read_csv('euro2012.csv',index_col=0,sep=',')
df

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [10]:
df = pd.read_excel('Canada.xlsx',sheet_name='Canada by Citizenship',skiprows=20,skipfooter=2)
df

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Vietnam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

# Thuộc tính và phương thức df

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.values

In [ ]:
# phương thức cơ bản

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df1

In [ ]:
df1.info()

In [ ]:
df1.describe()

# Truy xuất dữ liệu

In [ ]:
df.head()

In [ ]:
# Truy xuất 1 pt
# tendf.iloc[index dong, index cot]
# tendf.loc[label dong, label cot]

In [ ]:
df.loc[0,'Team']

In [ ]:
df.iloc[0,-1]

In [ ]:
# Truy xuất nhiều pt
# tendf.iloc[start:stop:step, start:stop:step]
# tendf.loc[danh sách label dong,danh sach label cot]

In [ ]:
# 2 dòng đầu
df.iloc[:2]

In [ ]:
# 2 dòng đầu, 3 cột đầu
df.iloc[:2,:3]

In [ ]:
df.loc[[0,1],['Team','Goals','Shots on target']]

In [ ]:
# Truy xuất cột
df.iloc[:,1]

In [ ]:
df.loc[:,'Goals']

In [ ]:
#Tendf['label côt']
df['Goals']

In [ ]:
# Truy xuất theo điều kiện
# df.loc[bieu thuc dk , danh sach label cot]

In [ ]:
df['Goals'] > 6

In [ ]:
df.loc[df['Goals'] > 6,['Team','Goals','Shots on target']]

# Tính thống kê

In [ ]:
df.sum(numeric_only=True,axis=1)

In [ ]:
df['Goals'].mean()

In [ ]:
df.head()

In [ ]:
df.sort_values(by=['Goals','Team'],ascending=[False,False])

# Thống kê gom nhóm

In [ ]:
# tendf.groupby('column label')['columns'].func()